#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.titre {
  display: flex;
  align-content: center;
  align-items: center;
}

.saisie {
  display: flex;
  align-items: center;
  color: blue;
}

.maListe {
  display: flex;

}

.items {
  width: 300px;
  border: 5px;
  border-color: blue;
  background-color: rgb(8, 58, 53);
  border-radius: 8px;
}



@media screen and (max-width: 768px)
{
  body {line-height: 1.2;};
  fieldset
    {
      flex-direction: column;
      background-color: aqua;
    }



}