#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.maListe {
  display: flexbox;
  
}

.titre {
  display: flex;
  align-content: center;
  align-items: center;
}

.items {
  width: 300px;
  border: 5px;
  border-color: blue;
  background-color: rgb(8, 58, 53);
  border-radius: 8px;
}

