@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/JosefinSans-Medium.ttf);
}

$font-1: "font-1", sans-serif;

$color-1: #044b5e;
$color-2: rgb(36, 51, 115);
$color-3: #c1cce2;
$white: rgb(255, 255, 255);
$fond: rgb(224, 236, 223);

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $fond;
  font-family: $font-1;
  // @include verticalCenter;
}
li {
  list-style-type: none;
}
